<aside class="sidenav">
  <ul>
    <li>home</li>
    <li>people</li>
    <li>about</li>
  </ul>
</aside>

<main>
  <h1>Faculty</h1>
  <article class="person-list">
    <% for faculty in @faculty_members %>
      <section class="person-card">
        <div class="person-picture-card">
          <img src="http://www.depts.ttu.edu/biology/people/Staff/img/person.png" alt="<%= display_name faculty %>">
        </div>
        <div class="person-info">
          <h2><%= display_name faculty %></h2>
          <h3><%= faculty.current_title %></h3>
        </div>
      </section>
    <% end %>
  </article>

  <h1>Graduate Students</h1>
  <article class="person-list">
    <% for grad_student in @grad_students %>
      <section class="person-card">
        <div class="person-picture-card">
          <img src="http://www.depts.ttu.edu/biology/people/Staff/img/person.png" alt="<%= display_name grad_student %>">
        </div>
        <div class="person-info">
          <h2><%= display_name grad_student %></h2>
          <h3><%= display_degree_program grad_student %></h3>
        </div>
      </section>
    <% end %>
  </article>
</main>
